body {
    overflow-x: hidden;
    min-height: 100%;
    height: auto;
    background-image: url(../images/lightred-bg-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.076);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* .card {
    display: none;
    background-color: #E0F7FA;
    border: 1px solid #E0F7FA;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
} */

.step-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 99.85%;
    /* margin-top: 70px; */
    margin-bottom: 50px;
}

.fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%;
}

.step-box {
    padding: 10px;
    border-left: 1px solid rgba(211, 211, 211, 0.522);
    border-right: 1px solid rgba(211, 211, 211, 0.522);
    background-color: #fff;
    box-shadow: rgba(255, 0, 0, 0.364) 0px 5px 15px;
}

.active {
    background-color: #000de9;
    background-image: linear-gradient(160deg, #000de9 0%, #234466 100%);
    color: #fff !important;
    border-left: 1px solid rgba(211, 211, 211, 0.522);
    border-right: 1px solid rgba(211, 211, 211, 0.522);
}

.active .fa-circle {
    /* background-color: #fff !important; */
    /* background-image: linear-gradient(43deg, #ff0e12 0%, #C850C0 20%, #1900fd 100%);
    color: #fff; */
    background: rgb(255, 0, 0);

}

.fa-check {
    border-radius: 50%;
    background-color: #007bff;
    background: rgb(0,0,255);
    background: linear-gradient(25deg, rgba(0,0,255,1) 0%, rgba(1,4,84,1) 0%, rgba(182,0,17,1) 49%, rgba(243,50,61,1) 94%);
    color: #fff;
    padding: 3px;
}

.step-title-0 {
    margin-bottom: 0px;
}

.step-title {
    font-size: 13px;
    position: relative;
    margin-left: 4px;
}

.heading {
    margin-bottom: 40px;
}

/* input, textarea, button {
    padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px;
} */

/* button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid green !important;
    outline-width: 0;
} */

/* textarea {
    height: 100px;
} */

/* button {
    width: 120px;
    letter-spacing: 2px;
} */

.fit-image {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none;
    }
}

.buttons {
    width: 85px;
}

p, span, td, label, input, h6, textarea {
    font-size: 18px;
}

/* b, strong {
    color: #e40000;
} */
